@import 'tailwindcss';

.form-input {
  @apply block w-full rounded-lg border border-slate-200 bg-transparent px-4 py-2 focus:outline-0 focus:ring disabled:bg-gray-200 disabled:text-gray-600;
}

/*
https://coolors.co/0b3c49-731963-fffdfd-cbd2d0-f0e100

--color: // color
--color-darker: // dark
--color-lighter: // light
*/

@theme {
  --color-midnight-green: #0b3c49ff;
  --color-byzantium: #731963ff;
  --color-white: #fffdfdff;
  --color-timberwolf: #cbd2d0ff;
  --color-aureolin: #f0e100ff;
  --color-primary: #430dbf;
  --color-primary-lighter: #5010e5;
  --color-primary-darker: #21075f;
  --color-sidebar-bg: #f3f6f7;
  /* --color-mindaro: #c5d86dff;
  --color-licorice: #261c15ff;
  --color-baby-powder: #f7f7f2ff;
  --color-beige: #e4e6c3ff;
  --color-beige-light: #f9f9f1ff;
  --color-giants-orange: #f05d23ff; */
}

/**
https://coolors.co/042a2b-5eb1bf-cdedf6-ef7b45-d84727

$dark-green: #042a2bff;
$moonstone: #5eb1bfff;
$light-cyan: #cdedf6ff;
$orange-crayola: #ef7b45ff;
$chili-red: #d84727ff;
*/
